.search {
	padding-bottom: 20px;
}

.map {
	height: 400px;
	width: 100%;
}

.popup-item img {
	height: 100px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.list {
	display: flex;
	flex-wrap: wrap;
}

.list-item {
	padding: 0 0 10px 10px;
	height: 100px;
}

.list-item img {
	height: 100px;
}